<div class="panel panel-default">
  <div class="panel-heading">
    <%= t(:error_search_generic) %>
  </div>
  <div class="panel-body">
    <p>
      <%= t(:error_search_date_invalid) %>
    </p>
    <p>
      <%= t(:msg_pick_better_dates) %>
    </p>
  </div>
</div>
