<%# title: the title %>
<div class="row">
  <div class="col">
    <div class='card border-0'>
      <div class='card-body'>
        <h1>
          <%= title %>
          <% if defined? subtitle %>
            <small><%= subtitle %></small>
          <% end %>
        </h1>
      </div>
    </div>
  </div>
</div>
