<div class="panel panel-default">
  <div class="panel-heading">
    <%= name %>
  </div>
  <div class="panel-body">
    <%= address.street1 %>
    <br/>
    <%= address.street2 %>
    <br/>
    <%= "#{address.city}, #{address.state} #{address.postal_code}" %>
  </div>
</div>
