<%= render partial: 'shared/error_form_uc', locals: {result: @ticket_work_type, object_name: TicketWorkType.model_name.human, object_action: form_action } %>
<%= form_for [@ticket, @ticket_work_type] do |f| %>
  <div class='form-body'>
    <%= render_field_group f, TicketWorkType.model_name.human,
      [{label: nil, name: :work_type_id, type: :collection_select,
        ext_params: {collection: WorkType.all, value_method: :id, text_method: :name }}] %>
  </div>
  <%= render_actions f, @ticket %>
<% end %>
